body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow:initial;
}

.navbar {
    background-color: #0044ff;
    border-bottom: 1px solid #000000;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
}

.map-container {
    display: flex;
    height: calc(100% - 75px); 
    justify-content: center;   
    align-items: center;       
}

#map {
    width: 100%; 
    height: 100%;
    transition: width 0.6s ease;
}



.content {
    padding: 50px;
    width: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px; 
    opacity: 0;
    transition: width 0.6s ease;
}
#puxador{
    display: none;
    margin-left: 0;
    margin-right: 25px;
    height: 100%;
    position: relative;
    align-items: center; 
    justify-content: center; 
    width: 12px; 
    background-color: #0044ff;
    cursor: pointer;
    transition: width 0.3s ease;
}
#puxador>img{
    max-width: 30px;

}
.button{
    background-color: #0044ff;
    color:white;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border:2px solid #0044ff;
}
.button:hover{
    color: #0044ff;
    background-color: #fff;
}

#historico{
    position:absolute;
    top:100px;
    right: 30px;
}
#linkHistorico{
    display:none;
}
